<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title>Symonds &amp; Son<%= data.page.title ? " | #{data.page.title}": '' %></title>
        <meta name="viewport">
        <meta name="description" content="">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag "application" %>
    </head>
    <body>
        <div id='navbar'>
          <div>
            <ul>
              <li><%= link_to 'Who We Are', '/#who_we_are' %></li>
              <li><%= link_to 'Our Experience', '/#our_experience' %></li>
              <li><%= link_to 'Team', '/#team' %></li>
              <li><%= link_to tag(:img, src: '/img/logo.png', width: '75', height: '75', id: 'logo', alt: 'Symonds & Son'), '/#top' %></li>
              <li><%= link_to 'Contact', '/#contact' %></li>
              <li><%= link_to 'Blog', 'http://joshsymonds.com', target: '_blank', class: 'external' %></li>
              <li><%= link_to 'Hire a Developer', '/#have_a_project' %></li>
            </ul>
          </div>
        </div>

        <%= yield %>

        <%= javascript_include_tag "application" %>

        <script src="/js/plugins.js"></script>
        <script src="/js/vendor/jquery.tipsy.js"></script>
        <script src="/js/vendor/jquery.form.js"></script>
        <script src="/js/vendor/jquery.validate.js"></script>
        <script src="/js/vendor/jquery.scrollTo.js"></script>
        <script src="/js/vendor/jquery.onePageNav.js"></script>
        <script src="/js/vendor/jquery.masonry.js"></script>
        <script src="/js/vendor/jquery.imagesLoaded.js"></script>
        <script src="/js/vendor/jquery.animateShadow.js"></script>
        <% if data.page.javascript %>
            <script src="/js/<%= data.page.javascript %>.js"></script>
        <% end %>

        <script>
            var _gaq=[['_setAccount','UA-39274431-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
