<div id='top' class='centered'>
  <h2>We're a team of developers<br/>and experts in Ruby</h2>
  <h4>We're Symonds &amp; Son</h4>

  <a class="linkable_div" href="/#have_a_project">
    <div class="contact_button" id="getstarted">Let's Get Started</div>
  </a>

  <p class="section-footer">A tradition of excellence, dependability, and stability in developing &amp; managing DevOps systems.</p>
</div>

<div id='who_we_are'>
  <div class='centered'>
    <div id="ruby-divider">
      <span class="line left"></span>
      <span class="line right"></span>
            <%= tag(:img, src: 'img/gem.png') %>
    </div>

    <h3>Web Crafters &amp; Application Artisans</h3>
    <div id="started-sidebar" class="orange">
      Let's get started
    </div>
    <p class="text-center">Symonds &amp; Son is a Ruby development shop. We create and scale amazing web applications: whether you're looking to create an iPhone or web app, or simply take your existing product from serving thousands of customers to millions, we will tailor our solutions meticulously to your specifications. We work with you to visualize, produce, and scale your application, becoming your partners in development and business.</p>
    <ul class="split vertical">
      <li class="left black text-center">
        <h4>Development</h4>
        <p>At Symonds &amp; Son, we pride ourselves on our incredible developers and the many years of experience they've had creating the most complicated Rails applications on the Internet. We provide expert-level guidance and programming, creating Rails applications from scratch and improving existing ones to be more efficient, more user-friendly, and more tested.</p>
        <a class="linkable_div" href="/#have_a_project">
          <div class="contact_button bordered uppercase">Hire a developer</div>
        </a>
      </li>
      <li class="right orange">
        <h4>Operations</h4>
        <p>From one server, to thirty, then to a hundred: you need a partner intimately familiar with managing and administering a Rails application and the software surrounding it. Whatever the database, cache, log management or search software you're running, Symonds &amp; Son provides the expertise to scale your application from where you are to where you want to be.</p>
        <a class="linkable_div" href="/#have_a_project">
          <div class="contact_button bordered uppercase">
            Start a project
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id='our_experience'>
  <div class='centered'>
    <div class="background">
      <h4 class="uppercase">Years of experience</h4>
      <h5>as digital architects</h5>

      <p class="text-center">Our team has had dozens of years of experience with the technologies that make the Internet run at scale. Whether it's a web application or a mobile application, whatever software stack you seek to employ, chances are we've not only used it &mdash; we've used it to help a multi-million dollar company increase their uptime, reduce their operating costs, and most importantly, delight their customers. Here's a very small selection of the software we love using over and over again.</p>
    </div>
    <span class="title-area">
      <h4 class="uppercase">We believe in choosing the right tools for the job</h4>
      <h5>That's why we know many tools</h5>
    </span>

    <div id='tools'>
      <span class='box'>
        <%= link_to tag(:img, src: 'img/rails.jpg', width: '87', height: '111', alt: 'Ruby on Rails'), 'http://rubyonrails.org', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/ruby-motion.jpg', width: '120', height: '120', alt: 'RubyMotion'), 'http://www.rubymotion.com/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/postgres.jpg', width: '120', height: '120', alt: 'PostgreSQL'), 'http://www.postgresql.org/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/elasticsearch.jpg', width: '120', height: '85', alt: 'elasticsearch'), 'http://www.elasticsearch.org/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/mysql.jpg', width: '170', height: '115', alt: 'MySQL'), 'http://www.mysql.com/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/logstash.jpg', width: '75', height: '120', alt: 'logstash'), 'http://www.logstash.net/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/centos.jpg', width: '96', height: '96', alt: 'CentOS'), 'http://www.centos.org/', target: '_blank' %>
      </span>
    </div>
  </div>
</div>

<div id="clients" class="black">

  <div class="centered">
    <div id="testimonials">

      <% data.clients.testimonials.each do |testimonial| %>
        <div class="card">
          <div class="card-interior">
            <%= tag(:img, src: "img/#{testimonial.logo}", alt: testimonial.company, class: 'logo') %>

            <div class="description">"<%= testimonial.description %>"</div>
            <div class="title"><%= testimonial.title %></div>
          </div>
        </div>
      <% end %>
    </div>

    <h5 class="uppercase">Just some of our clients</h5>

    <div id="client_gallery">
      <% data.clients.client_logos.each do |client| %>
        <div class="gallery_item">
          <%= tag(:img, src: "img/#{client.logo}", alt: client.company) %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div id="team">
  <div class="centered">
    <h4>Modern Day Artisans</h4>
    <h5>meet the team</h5>

    <div class="split vertical">
      <div class="orange left">
        <%= tag(:img, src: 'img/steve-symonds.jpg', alt: 'Steve Symonds', id: 'steve') %>
        <h3>Symonds (Steve)</h3>
        <h4>Co-Founder, VP of Sales</h4>
        <p>
          Steve is a serial entrepreneur, experienced in building digital media, social media, mobile and high tech companies in a variety of verticals. Steve has propelled numerous early-stage companies through development of market-leading products and services, leveraging IP rights, and raising capital.
        </p>
        <div class="email">
          <%= tag(:img, src: 'img/mail-icon.png', height: 10, width: 14) %>
          <a href="mailto:steve@symondsandson.com">steve@symondsandson.com</a>
        </div>
      </div>
      <div class="right white">
        <%= tag(:img, src: 'img/josh-symonds.jpg', alt: 'Josh Symonds', id: 'josh') %>
        <h3>Son (Josh)</h3>
        <h4>Co-Founder, Lead Developer</h4>
        <p>
          Josh is an expert devops consultant, application developer, and systems administrator. He has created applications used on hundreds of thousands of mobile devices and has provisioned, managed, and ensured uptime of hundreds of servers in the cloud and in physical datacenters.
        </p>
        <div class="email">
          <%= tag(:img, src: 'img/mail-icon-black.png', height: 10, width: 14) %>
          <a href="mailto:josh@symondsandson.com">josh@symondsandson.com</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="careers">
  <h3>Careers</h3>
  <div class="black split vertical centered">
    <div class="left">
      <p>Do you have amazing skills, but feel you're undercompensated? Are you a meticulous, friendly, personable and responsible coder who works well in a team? Would you like to work remotely and still be an integral part of our projects? If you have many of the skills we need, here's your chance:</p>
      <p>If you're interested please provide a copy of your resume and cover letter. Include your GitHub account, StackOverflow profile, or whatever other information you have that would establish your credentials as a great coder and fine human being.</p>
    </div>
    <div class="right">
      <p>We're hiring developers experienced in&hellip;</p>
      <ul>
        <li>Ruby and Ruby on Rails</li>
        <li>Angular.js and/or Ember.js</li>
        <li>Elasticsearch</li>
        <li>Sidekiq, Resque, or other Redis backed delayed job system</li>
        <li>DevOps (Chef preferred)</li>
        <li>Working Remotely</li>
      </ul>
      <div id="join-the-team" class="bordered">Join The Team</div>
    </div>
  </div>
</div>

<div id="blog">
  <div class="centered">
    <h3>We're Not Just Developers</h3>
    <h4>We're thought leaders of our craft.</h4>
    <div id="quill-divider">
      <span class="line left"></span>
      <span class="line right"></span>
            <%= tag(:img, src: 'img/blog-icon.png') %>
    </div>
    <br/>
    <div id="posts">
      <% data.blog.posts.each do |post| %>
        <div class="post">
          <div class="title"><%= post.title %></div>
          <div class="lede"><%= post.lede %></div>
          <div class="link"><a href=<%= post.url %>>Read More</a></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id='have_a_project'>
  <div class="centered">
    <h3>Have a Project?</h3>
    <h4>We'd love to hear the details.</h4>
    <form action="https://symondsandson-contact.herokuapp.com/contact" method="post" id='contact_form'>
      <input type='text' name='name' class='required' placeholder="NAME"/>

      <input type='text' name='phone' placeholder="PHONE"/>

      <input type='text' name='deadline' class="deadline" placeholder="DEADLINE"/>
      <input type='text' name='budget' class="budget"placeholder="BUDGET"/>


      <input type='email' name='email' class='required email' placeholder="EMAIL"/>

      <textarea name='description' class='required' placeholder="DESCRIPTION"></textarea>

      <input class="button" name="send" type="submit" value="Send Message">
    </form>
  </div>
</div>

<footer>
  <div class='centered'>
    <span class="left">Symonds &amp; Son</span>
    <span class="right">
      <%= tag(:img, src: "img/twitter-icon.png", alt: "twitter") %><a href="http://twitter.com/symondsandson">@symondsandson</a>
      <%= tag(:img, src: "img/github-icon.png", alt: "github") %><a href="http://github.com/symondsandson">github.com/symondsandson</a>
      <%= tag(:img, src: "img/mail-icon.png", alt: "email") %><a href="mailto:info@symondsandson.com">info@symondsandson.com</a>
    </span>
    <br/>
    <div class="divider"></div>
    <br/>
    <span class="bottom">
      Made with <%= tag(:img, src: 'img/heart-icon.png', alt: 'heart') %> in Chicago &copy; 2014 Symonds &amp; Son
    </span>
  </div>
</footer>
