---
javascript: index
---
<div id='top' class='centered'>
  <h2>We're a team of developers<br/>and experts in Ruby</h2>
  <h4>We're Symonds and Sons</h4>

  <div id="getstarted">Let's Get Started</div>

  <p class="section-footer">A tradition of excellence, dependability, and stability in developing &amp; managing DevOps systems.</p>
</div>

<div id='who_we_are'>
  <div class='centered'>
    <div id="ruby-divider"></div>
    <h3>Web Crafters &amp; Application Artisans</h3>
    <div id="started-sidebar" class="orange">
      Let's get started
    </div>
    <p class="text-center">Symonds &amp; Son is a Ruby development shop. We create and scale amazing web applications: whether you're looking to create an iPhone or web app, or simply take your existing product from serving thousands of customers to millions, we will tailor our solutions meticulously to your specifications. We work with you to visualize, produce, and scale your application, becoming your partners in development and business.</p>
    <ul class="split vertical">
      <li class="left black text-center">
        <h2>Development</h2>
        <p>At Symonds &amp; Son, we pride ourselves on our incredible developers and the many years of experience they've had creating the most complicated Rails applications on the Internet. We provide expert-level guidance and programming, creating Rails applications from scratch and improving existing ones to be more efficient, more user-friendly, and more tested.</p>
        <div class="bordered uppercase">Hire a developer</div>
      </li>
      <li class="right orange">
        <h2>Operations</h2>
        <p>From one server, to thirty, then to a hundred: you need a partner intimately familiar with managing and administering a Rails application and the software surrounding it. Whatever the database, cache, log management or search software you're running, Symonds &amp; Son provides the expertise to scale your application from where you are to where you want to be.</p>
        <div class="bordered uppercase">
          Start a project
        </div>
      </li>
    </ul>
  </div>
</div>

<div id='our_experience'>
  <div class='centered'>
    <div class="background">
      <h4 class="uppercase">Years of experience</h4>
      <h5>as digital architects</h5>

      <p class="text-center">Our team has had dozens of years of experience with the technologies that make the Internet run at scale. Whether it's a web application or a mobile application, whatever software stack you seek to employ, chances are we've not only used it &mdash; we've used it to help a multi-million dollar company increase their uptime, reduce their operating costs, and most importantly, delight their customers. Here's a very small selection of the software we love using over and over again.</p>
    </div>

    <h4 class="uppercase">We believe in choosing the right tools for the job</h4>
    <h5>That's why we know many tools</h5>

    <div id='tools'>
      <span class='box'>
        <%= link_to tag(:img, src: 'img/rails.jpg', width: '87', height: '111', alt: 'Ruby on Rails'), 'http://rubyonrails.org', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/ruby-motion.jpg', width: '120', height: '120', alt: 'RubyMotion'), 'http://www.rubymotion.com/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/postgres.jpg', width: '120', height: '120', alt: 'PostgreSQL'), 'http://www.postgresql.org/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/elasticsearch.jpg', width: '120', height: '85', alt: 'elasticsearch'), 'http://www.elasticsearch.org/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/mysql.jpg', width: '170', height: '115', alt: 'MySQL'), 'http://www.mysql.com/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/logstash.jpg', width: '75', height: '120', alt: 'logstash'), 'http://www.logstash.net/', target: '_blank' %>
      </span>

      <span class='box'>
        <%= link_to tag(:img, src: 'img/centos.jpg', width: '96', height: '96', alt: 'CentOS'), 'http://www.centos.org/', target: '_blank' %>
      </span>
    </div>
  </div>
</div>

<div id="clients" style="display: none;">
  <div id="rolodex">
    <div class="card">
      <img class="logo" alt="" src=""/>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec est justo. Donec ac mi orci. Integer et rhoncus justo, non suscipit massa. Duis accumsan molestie ante, in ornare lectus interdum non. Vivamus ac ante vestibulum, ornare diam a, facilisis massa. Mauris pharetra risus nec magna sagittis molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eleifend vel felis sed mattis. Nunc dolor tortor, finibus sed gravida ut, feugiat nec erat. Pellentesque lectus nisl, iaculis nec fringilla quis, ultricies ut felis. Aenean dictum faucibus ante id aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus placerat laoreet massa, eu consequat nisl interdum vitae. Sed non felis ornare, vestibulum ligula nec, mollis nulla.
      </div>
      <div class="title">
        Name, Company
      </div>
    </div>
    <div class="card">
      <img class="logo" alt="" src=""/>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec est justo. Donec ac mi orci. Integer et rhoncus justo, non suscipit massa. Duis accumsan molestie ante, in ornare lectus interdum non. Vivamus ac ante vestibulum, ornare diam a, facilisis massa. Mauris pharetra risus nec magna sagittis molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eleifend vel felis sed mattis. Nunc dolor tortor, finibus sed gravida ut, feugiat nec erat. Pellentesque lectus nisl, iaculis nec fringilla quis, ultricies ut felis. Aenean dictum faucibus ante id aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus placerat laoreet massa, eu consequat nisl interdum vitae. Sed non felis ornare, vestibulum ligula nec, mollis nulla.
      </div>
      <div class="title">
        Name, Company
      </div>
    </div>
    <div class="card">
      <img class="logo" alt="" src=""/>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec est justo. Donec ac mi orci. Integer et rhoncus justo, non suscipit massa. Duis accumsan molestie ante, in ornare lectus interdum non. Vivamus ac ante vestibulum, ornare diam a, facilisis massa. Mauris pharetra risus nec magna sagittis molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eleifend vel felis sed mattis. Nunc dolor tortor, finibus sed gravida ut, feugiat nec erat. Pellentesque lectus nisl, iaculis nec fringilla quis, ultricies ut felis. Aenean dictum faucibus ante id aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus placerat laoreet massa, eu consequat nisl interdum vitae. Sed non felis ornare, vestibulum ligula nec, mollis nulla.
      </div>
      <div class="title">
        Name, Company
      </div>
    </div>
  </div>
</div>

<div id="team">
  <h2>Modern Day Artisans</h2>
  <h3>meet the team</h3>

  <div class="split vertical">
    <div class="orange left">
      <h3>Symonds (Steve)</h3>
      <h4>Co-Founder, VP of Sales</h4>
      <p>
        Steve is a serial entrepreneur, experienced in building digital media, social media, mobile and high tech companies in a variety of verticals. Steve has propelled numerous early-stage companies through development of market-leading products and services, leveraging IP rights, and raising capital.
      </p>
      <div class="email">
        <a href="mailto:steve@symondsandson.com">steve@symondsandson.com</a>
      </div>
    </div>
    <div class="right white">
      <!-- TODO: Josh photo here -->
      <h3>Son (Josh)</h3>
      <h4>Co-Founder, Lead Developer</h4>
    </div>
  </div>
</div>

<div id="careers" class="black">
  <h3>Careers</h3>
  <div class="black split vertical centered">
    <div class="left">
      <p>Do you have amazing skills, but feel you're undercompensated? Are you a meticulous, friendly, personable and responsible coder who works well in a team? Would you like to work remotely and still be an integral part of our projects? If you have many of the skills we need, here's your chance:</p>
      <p>If you're interested please provide a copy of your resume and cover letter. Include your GitHub account, StackOverflow profile, or whatever other information you have that would establish your credentials as a great coder and fine human being.</p>
    </div>
    <div class="right">
      <p>We're hiring developers experienced in&hellip;</p>
      <ul>
        <li>Ruby and Ruby on Rails</li>
        <li>Angular.js and/or Ember.js</li>
        <li>Elasticsearch</li>
        <li>Sidekiq, Resque, or other Redis backed delayed job system</li>
        <li>DevOps (Chef preferred)</li>
        <li>Working Remotely</li>
      </ul>
      <div id="join-the-team">Join The Team</div>
    </div>
  </div>
</div>

<div id="blog">
  <h3>We're Not Just Developers</h3>
  <h4>We're thought leaders of our craft.</h4>
  <div id="quill-divider"></div>
  <!-- TODO: Blog ledes go here. -->
</div>

<div id='contact'>
  <div class='centered'>
    <h2>Have a Project?</h2>
    <h3>We'd love to hear the details.</h3>
    <div class='column'>
      <div class='method'>
        <%= tag(:img, src: 'img/twitter.png', width: '35', height: '34', alt: 'Twitter', id: 'twitter') %>
        <p><%= link_to '@symondsandson', 'http://twitter.com/symondsandson', target: '_blank' %></p>
      </div>
      <div class='method'>
        <%= tag(:img, src: 'img/pin.png', width: '25', height: '36', alt: 'Pin', id: 'pin') %>
        <p><%= link_to "842 W Aldine, #1<br />Chicago, IL 60657", 'http://goo.gl/maps/lA59d', target: '_blank' %></p>
      </div>
    </div>
    <div class='column'>
      <div class='method'>
        <%= tag(:img, src: 'img/github.png', width: '34', height: '33', alt: 'Github', id: 'github') %>
        <p><%= link_to 'github.com/symondsandson', 'http://github.com/symondsandson', target: '_blank' %></p>
      </div>
      <div class='method'>
        <%= tag(:img, src: 'img/mail.png', width: '34', height: '24', alt: 'Mail', id: 'mail') %>
        <p>
          <script type="text/javascript">
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
            "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
            " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
            "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
            "\"(6)\\\\,=\\\";2_W2B03\\\\\\\\EU25\\\\00\\\\03\\\\\\\\25\\\\0[\\\\32\\\\04" +
            "\\\\03\\\\\\\\01\\\\05\\\\02\\\\\\\\36\\\\06\\\\01\\\\\\\\35\\\\0t\\\\\\\\\\"+
            "\\02\\\\04\\\\00\\\\\\\\07\\\\00\\\\02\\\\\\\\33\\\\0'\\\\\\\\t3\\\\00\\\\\\"+
            "\\\\\\nn\\\\\\\\\\\\\\\\\\\\\\\\\\\\<C12r>55<*790&==)<6<01\\\\\\\\\\\"\\\\\\"+
            "\\\\\\%*k#24\\\\0z\\\\)#*0a6cbRS5_02\\\\\\\\VTSKTXWG\\\\\\\\\\\\\\\\]^]VCmD" +
            "M2@02\\\\\\\\RHMIOB03\\\\0|\\\\\\\"\\\\\\\\\\\\xxsnx:5${>vxxfxby nb|ghk\\\\" +
            "b(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=2y" +
            "*))+y(6i>f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fon" +
            "tincfu)\\\"\")"                                                              ;
            while(x=eval(x));
            //-->
            //]]>
          </script>
        </p>
      </div>
    </div>
  </div>
</div>

<div id='have_a_project' class='centered'>
  <h2>Have a Project?</h2>
  <p>We'd love to hear the details.</p>
  <form action="https://symondsandson-contact.herokuapp.com/contact" method="post" id='contact_form'>
    <div class='column'>
      <label>Name <span class='required'>*</span></label>
      <input type='text' name='name' class='required' />

      <label>Phone</label>
      <input type='text' name='phone' />

      <label>Deadline</label>
      <input type='text' name='deadline' />

      <label>Budget</label>
      <input type='text' name='budget' />

      <input class="button" name="send" type="submit" value="Send">
    </div>
    <div class='column'>
      <label>Email <span class='required'>*</span></label>
      <input type='email' name='email' class='required email' />

      <label>Brief Description <span class='required'>*</span></label>
      <textarea name='description' class='required'></textarea>

      <div class='explanation'><span class='required'>*</span> denotes required fields</div>
    </div>
  </form>
</div>

<footer>
  <div class='centered'>
    &copy; 2013 Symonds &amp; Son
  </div>
</footer>
